# Logs
logs
*.log
npm-debug.log*
coverage
.nyc_output

# Runtime data
pids
*.pid
*.seed
*.pid.lock
*.swp
*.swo
.DS_Store

# Dependencies
node_modules/
package-lock.json

# optional node REPL dependency
.node_repl_history


# Keys/env
*.aes
*.env


